<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>


<body>

    {% block content %}
        Hi!
    {% endblock %}

<!--    https://www.w3schools.com/tags/tag_footer.asp -->
<!--    <footer>-->
<!--        {% block footer %}-->
<!-- -->
<!--        {% endblock %}-->
<!--    </footer>-->
<!-- Footer -->
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Tu będzie coś</span>
      </div>
    </footer>
<!-- Footer -->

</body>
</html>