{#{% extends 'app1/base.html' %}#}
{% extends "app1/__base__.html" %}

{% block content %}
    {% if message %}
	    <h4>{{ message }}</h4>
    {% endif %}

    <div class="m-4 p-4 border-dashed">
        <table class="table">

        <h2 class="dashboard-content-title">

            Lista Brandów:
        </h2>
        <tbody>

        {% for brand in brands %}
             <tr class="d-flex">
                <td class="col-0">{{ brand.pk }}</td>
                <td class="col-2">{{ brand.name }}</td>

                 <td class="col-1">{{ brand.kod }}</td>

                 <td class="col-2">
                    <a href="/brand_detail/{{ brand.pk }}"
                    class="btn btn-warning rounded-0">Szczegóły</a>
                </td>
             </tr>

        {% endfor %}
        </tbody>
        </table>
    ----------------------------------
 </br>
    <a href="{% url 'brand_add' %}"
    class="btn btn-warning rounded-1">Dodaj</a>
    </a>
 </br></br>
    <a href="{% url 'dashboard' %}"
    class="btn btn-warning rounded-1">Dashboard</a>
    </a>

    </div>
{% endblock %}