{#{% extends 'app1/base.html' %}#}
{% extends "app1/__base__.html" %}

{% block content %}
    {% if message %}
	    <h4>{{ message }}</h4>
    {% endif %}
    div class="m-4 p-4 border-dashed">
        <table class="table">
            <h2 class="dashboard-content-title">
            Kolor:<br>
        </h2>
        <tbody>
            <tr class="d-flex">
                <td class="col-3">{{ color.name }}, {{ color.kod }}
                </td>

                <td class="col-1">
                </td>
            </tr>
        </tbody>
         </table>

{#    name: {{ color.name }}<br>#}
{#    kod: {{ color.kod }}<br>#}

    <br>
    <br>
    ----------------------------------
    </br>
    <a href="{% url 'color' %}"> << Kolor  </a>

{% endblock %}