{#{% extends 'app1/base.html' %}#}
{% extends "app1/__base__.html" %}

{% block content %}
    {% if message %}
	    <h4>{{ message }}</h4>
    {% endif %}
    <div class="m-4 p-4 border-dashed">
        <table class="table">
            <h2 class="dashboard-content-title">
            Produkt:<br>
        </h2>
        <tbody>
    brand: {{ product.brand }}<br>
    name: {{ product.name }}<br>
{#    description: {{ product.description }}<br>#}

{#    current quantity: {{ product.current_quantity }}<br>#}
    size: {{ size }}<br>
    color: {{ color }}<br>
{#    category:#}
{#    {% for category in categories %}#}
{#        {{ category}}<br>#}
{#    {% endfor %}#}
    price: {{ product.price }} zł<br>
        <form action="#" method="post">
                    {% csrf_token %}

                    {{ form.as_p }}<br/>
{#        jeśli zalogowany#}
            {% if request.user.is_authenticated %}

                    <input type="submit" value="Dodaj"/>
            {% endif %}
{#            w przeciwnym razie idż do strony logowania #}
                </form>
  </tbody>
         </table>

    ----------------------------------

 </br></br>
        <a href="{% url 'klient-product' %}"
    class="btn btn-warning rounded-0">Lista produktów</a>
        </br></br>
{#    tu powinien być koszyk #}
{#    <a href="{% url 'dashboard' %}"#}
{#    class="btn btn-warning rounded-0">Dashboard</a>#}
    </a>
    </div>

{% endblock %}